/* Container for About Page */
.container-about {
  border-radius: 10px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  margin: 30px;
}

/* Card Styling */
.card-about {
  background-color: #ffffff;
  border-radius: 15px;
  width: 100%;
  max-width: 800px; /* Limite la largeur max de la carte */
}

.card-header-about {
  border-radius: 15px;
  background-color: rgb(123, 206, 254);
  text-align: center;
}

.about-section-block {
  background-color: #fff0f5;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.about-section-block:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

p {
  font-size: 18px;
}

h4 {
  font-size: 1.5rem;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .container-about {
    margin: 10px;
  }

  .card-about {
    width: 100%;
    margin: 0; /* Supprime l'espacement sur mobile */
  }

  .card-header-about h2 {
    font-size: 1.5rem; /* Réduit la taille du texte sur mobile */
  }

  .about-section-block {
    padding: 15px; /* Réduit le padding sur mobile */
  }

  p {
    font-size: 16px; /* Réduit la taille des paragraphes sur mobile */
  }

  h4 {
    font-size: 1.2rem; /* Réduit la taille des titres sur mobile */
  }

  .about-section-block:nth-child(2) {
    background-color: #e6f7ff;
  }

  .about-section-block:nth-child(3) {
    background-color: #e9f7df;
  }

  .about-section-block:nth-child(4) {
    background-color: #fff7e6;
  }

  .about-section-block:nth-child(5) {
    background-color: #f2e6ff;
  }
}

@media (max-width: 576px) {
  .card-header-about h2 {
    font-size: 1.3rem; /* Taille encore plus petite sur très petits écrans */
  }
 
  p {
    font-size: 14px; /* Réduit encore plus la taille des paragraphes */
  }

  h4 {
    font-size: 1rem; /* Réduit encore la taille des titres */
  }

  .about-section-block {
    padding: 10px; /* Réduit encore le padding */
  }
}
